.container-fluid {
  background-color: grey;
}

.container {
  background-color: lightgrey;
  margin: 50px auto;
}

.img-container {
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto;
  width: 125px;
  height: 125px;
}

.heat-map {
  width: 80%;
  height: 400px;
  background-color: black;
  color: white;
  margin: 20px 0 50px 0;
}
